/* selector */
/* body {  
}

span {
    font-size: 30px;
}

div {
    background: red;
}

.span1 {
    font-size: 50px;
}

.span2 {
    background: blue;
}
.span4 {
    background: yellow;
} */
.spanxxx {

}

#block1 {
    background: url('background1.jpeg');
}